*{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  font-weight: 300;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
body{

 /* background: #e7edf7;*/
  font-family: 'Open Sans', sans-serif;
}
ul li{
  list-style-type: none;
}
ul{
  padding:0;
  margin:0;
}
.shadow-1, .language-dropdown ul.lang-list, .language-dropdown label {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-2, .language-dropdown.open label {
  /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);*/
}

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}


.language-dropdown {
  display: inline-block;
  /*margin: 20px 50px;*/
}
.language-dropdown .lang-en {
  /*border-left: 4px solid #E2162C;*/
  /*border-radius: 50%;*/
  margin-bottom: 0;
}
.language-dropdown .lang-en .flag {
  background-image: url("http://findicons.com/files/icons/282/flags/48/united_states_of_america_usa.png");
}
/*.language-dropdown .lang-pt {
  border-left: 4px solid #1ABC9C;
}*/
.language-dropdown .lang-pt .flag {
  background-image: url("http://icons.iconarchive.com/icons/icondrawer/flags/48/Brazil-icon.png");
}
/*.language-dropdown .lang-es {
  border-left: 4px solid #DA4D13;
}*/
.language-dropdown .lang-es .flag {
  background-image: url("http://www.imaginarium.pt/responsive/2015/images/iconsFicha/banderaES.png");
}
.language-dropdown label, .language-dropdown ul li {
  display: block;
  width: 35px;
  height: 35px;
  background: #fff;
  padding: 0px 6px;
  cursor: pointer;
}
.language-dropdown ul.lang-list {
  position: relative;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  position: relative;
  top: 10px;
}
div#lang_selected {
    position: relative;
    top: 20px;
    font-size: 12px;
}
.login {
    position: relative;
    top: 10px;
    padding-left: 5px;
    border-radius: 50%;
    display: block;
    width: 35px;
    height: 35px;
    background: #fff;
    padding: 0px 6px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.login i{
    vertical-align: middle;
    position: relative;
    top: 3px;
}
.language-dropdown ul.lang-list li {
  border-bottom: 1px solid #ECECEC;
}
.language-dropdown ul.lang-list li:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.language-dropdown ul.lang-list li.selected {
  display: none;
}
.language-dropdown label {
  position: relative;
  border-bottom: 1px solid #ECECEC;
  border-radius: 3px;
  z-index: 2;
  border-radius: 50%;
  margin-bottom:0;
  top: 10px;
}
.language-dropdown .lang-flag .flag, .language-dropdown .lang-list .lang .flag {
  float: left;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.language-dropdown.open ul.lang-list {
  visibility: visible;
  opacity: 1;
}
.language-dropdown.open label {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.animate, .lang-flag, .lang-list {
  cursor: pointer;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
ul.list-items>li {
    float: left;
    padding-right: 5px;
}
ul.list-items {
    display: inline-block;
    float: right;
}
header {
    max-height: 60px;
}
.header h4 {
    position: relative;
    top: 15px;
    font-weight: 500;
  /*  color: #fff;*/
}
.header h4 a{
  color:#000;
  text-decoration: none;
  font-weight: 500;
}
.live-cnt {
    text-align: center;
}
.live-cnt label {
    display: block;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
    color: #ddd;
}
.live-cnt {
    text-align: center;
    background: #7d67f9;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    height: 90px;
    line-height: 35px;
}
.live-cnt span {
    font-weight: 700;
    font-size: 30px;
}
section.live-counter {
    background: linear-gradient(90deg, rgb(94, 73, 218) 0%, rgb(105, 82, 237) 35%);
    position: relative;
    display: flex;
    /* padding: 20px; */
    /* border-radius: 30px 30px 0 0; */
    min-height: 220px;
    /*margin-top: 15px;*/
}
.card-list .container {
  margin-top: -50px;
}
.live-row {
    position: relative;
    width: 100%;
    top: 25%;
    left: 0;
}
.card {
    text-align: center;
    /*border-radius: 20px;*/
    margin-bottom: 10px;
    /* box-shadow: 0 35px 50px -30px rgba(0,0,0,0.2); */
    padding: 10px;
}
/*.card-text{
      display: flex;
    align-items: center;
}*/
.card-text span {
    color: #000;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.4;
}
.circle {
    background: yellow;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 30px;
}
.card img{
      margin: auto;
}
.card-text {
    padding: 5px 0;
    white-space: initial;
    text-align: left;
}
section.card-list {
    background: #fff;
    /*border-radius: 30px 30px 0 0;*/
    position: relative;
    /*margin-top: -25px;*/
    padding: 20px;
}
.card-img img {
    border-radius: 20px 0 0 20px;
}
.card-text span i {
    float: right;
    margin-top: 5px;
    color: #2ed573;
}
footer {
    background: linear-gradient(90deg, rgb(94, 73, 218) 0%, rgb(105, 82, 237) 35%);
    padding: 10px;
    color: #fff;
    font-weight: 100;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
footer p {
    margin: 0;
}
footer img {
    position: relative;
    top: -3px;
}

.live-search-list {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* padding: 5px; */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    color: #000;
}

.live-search-box {
width: 100%;
display: block;
/*font-size: 14px;
*/
}

.live-search-list li {
    
    list-style: none;
    padding: 2px 10px;
    /* margin: 5px 0; */
    font-size: 12px;
    border-bottom: 1px solid #ced4da61;
}
section.details {
    padding: 20px 0;
}
section.details label {
    color: #000;
    font-weight: 500;
    font-size: 12px;
}
button.btn.btn-plus {
    border-radius: 50%;
    background: #2ed573;
    color: #fff;
}
.no-padding{
  padding: 0;
}
/*#map_container{
  position: relative;
}
#map {
    height: 0;
    overflow: hidden;
    padding-bottom: 28.25%;
    padding-top: 105px;
    position: relative;
}*/
.map {
    padding: 20px 0;
}
.card p a{
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  /*color:#000;*/
}
section.sub-details {
    background: #e7edf7;
    padding: 20px 10px;
    /* margin-bottom: 40px; */
    height: auto;
}
.sub-details .card.crd-no{
      background: #fff;
}
span.icon {
    position: absolute;
    right: 5px;
    top: 0px;
}
span.icon i {
    font-size: 12px;
    color: #ce0c0c;
}
.owl-stage-outer {
   
    padding: 10px;
    right:7px;
}
.people.met {
    margin-bottom: 10px;
}
.card.crd-no {
    height: auto;
    padding: 5px 18px;
    background: #f0f5fc;
    float: left;
    /* padding-right: 5px; */
    margin-right: 5px;
    /* text-align: center; */
}
.owl-dots {
    display: none;
}
section.faq-list {
    padding: 20px 0;
}
.faq-list label{
  font-weight: 400;
  font-size: 12px;
}
.faq-btn button {
    padding: 5px 20px;
    font-size: 12px;
}
button.btn.btn-submit {
    color: #fff;
    width: 30%;
    padding: 5px;
    font-size: 12px;
}
ul.nav.nav-list li,ul.nav.nav-list1 li {
    border: 1px solid #28a745;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    color: #28a745;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 12px;
    cursor: pointer;
}
.active {
    background: #28a745;
    border-color: transparent !important;
    color: #fff !important;
}
.stack-card,.sub-details  {
    height: auto;
    max-height: 100px;
    margin-top: 10px;
    overflow-y: visible;
    overflow-x: hidden;
}
.sub-details {
    max-height: 200px;
}
.map {
    margin-bottom: 20px;
}
::placeholder {
    font-size: 12px;
}



.form-label-group {
    margin-bottom: 10px;
}

section.user-login {
    position: absolute;
    top: 0;
}

.btn-block {
    background: linear-gradient(90deg, #5e49da 0%, rgb(105, 82, 237) 35%);
    font-size: 12px;
    width:50% !important;
    margin: auto;
    /* padding: 5px !important; */
    font-size: 12px !important;
    color: #fff !important;
}
.overlay-mdl {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(51, 51, 51, 0.3);
    z-index: 9999;
    overflow-y: auto;
    overflow-x: hidden;
}
.card.login-card,.styles_modal__gNwvD {
    width: 300px;
    height: fit-content;
    /* background-color: blue; */
    position: absolute;
    left: 0;
    right: 0;
    top: -30%;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 0;
    border-radius: 4px;
    overflow: visible;
}
.styles_closeButton__20ID4 {
    position: absolute;
    top: -10px;
    right: -5px;
    border: none;
    padding: 0;
    background-color: transparent;
    display: flex;
    background: #ddd;
    border-radius: 50%;
}
.modal-body label {
    display: block;
    font-weight: 400;
}
span.error {
    font-size: 12px;
    color: red;
    display: block;
}
.login button {
    padding: 0;
}
.card.btn.btn-outline-light.text-uppercase {
    white-space: inherit;
}
.card.btn.btn-outline-light.text-uppercase {
    max-height: 230px;
    height: 95%;
    /* margin-top: 18px; */
}
.header h5 {
  padding: 5px 10px;
  font-weight: 600;
   background: #EB6103; 
  display: inline-block;
  margin-top: 10px;
 /*  border-radius: 2px; */
  color: #fff;
   border-radius: 5px; 
  /*border-bottom: 3px solid #EB6103;*/
}
.card label {
    text-align: left;
    font-weight: 600;
    font-size: 14px;
}
.btn-success{
  color: #fff !important;
}
label i {
    float: right;
    position: relative;
    top: 3px;
    color: #000;
}
.card{
  text-align: left;
}
.card.btn.btn-outline-light.card-list1 img {
    width: 80px;
}

.map-block {
  position: relative;
  display: block;
  position: relative;
  height: 340px;
  /* max-height: 360px; */
  box-shadow: 0px 0px 5px 3px #a9a9a9;
  /* overflow: hidden; */
  border-radius: 3px;
}
.map1 {
  position: absolute !important;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
ul.gender li {
  float: left;
}
ul.gender span {
  padding-right: 10px;
  margin-left: 10px;
  font-weight: 600;
  color: #28a745;
}
ul.gender input {
  position: relative;
  top: 4px;
  height: 20px;
    width: 20px;
}
body::after {
  content: '';
  display: block;
  height: 40px; /* Set same as footer's height */
}


html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}
.login button:focus {
  outline: 0;
  box-shadow: none;
}
.login:hover {
  background: #ddd;
}
.react-datetime-picker__wrapper{
  border: none !important;
}
.react-datetime-picker.react-datetime-picker--closed.react-datetime-picker--enabled {
  width: 100%;
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-bottom: 10px;
}
/*.card.stack-card {
  display: none;
}*/
.location input {
  margin-bottom: 10px;
}
.content {
  margin:auto !important;
  background-color: white !important;
  width: 50vw;
  padding: 20px !important;
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: fit-content;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  /* padding: 0; */
  border-radius: 4px;
  overflow: visible;
}
.content h5 {
  font-weight: 400;
   font-size: 18px;
}
.content h6 {
  color: #2ed573;
  font-weight: 600;
}
ul.list {
  padding: 0 18px;
}
ul.list li {
  list-style-type: disc;
  font-size: 14px;
  font-weight: 400;
  color: #696464;
  padding:0;
}
.content span {
  top: -5px !important;
  right: 0 !important;
}
.back-links li a i{
  position: relative;
  color: rgb(46, 213, 115);
  top: 15px;
}
label.required {
  font-size: 10px;
  color: #8e8a8a;
}
.bodyOverflow {
  overflow: hidden;
}
.cookies {
  background: #052962;
  color: #fff;
  padding: 10px;
  overflow: hidden;
}
.cookies p {
  font-size: 12px;
  margin-bottom: 10px;
}
.cookies h4 {
  border-bottom: 1px solid;
  display: inline-block;
}
button.btn.btn-default {
  color: #fff;
  padding: 5px 8px;
  font-size: 12px;
  background: rgb(80, 105, 145);
  transition: all 0.3s ease-in-out 0s;
}
button.btn.btn-default.btn-close :hover{
  background:rgb(35, 75, 138);
}
.cookies {
  z-index: 2;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}
.slideInUp{
  /* -webkit-animation-name: slideInUp;
  -webkit-animation-duration: !important; */
  animation-name: slideInUp;
  animation-duration: 3s !important;
}
.cookies h6 {
  margin-bottom: 0;
}
@media only screen and (min-width: 768px){
.login-card  {
    max-width: 380px;
    left: 0;
    right: 0;
    height: fit-content;
    margin: auto;
}
input{
  margin-bottom: 5px;
  height: 20px;
  border: 1px solid #d8d8d8;
  padding: 3px;
}

textarea{
  border: 1px solid #d8d8d8;
  padding: 3px;
}

button{
  padding: 10px;
  border: 1px solid #d8d8d8;
  background-color: #f9f9f9;
  border-radius: 3px;
}

.error{
  margin-left: 5px;
  font-size: 13px;
  color: red;
}
.btn-block {
    width: auto !important;
}
button.btn.btn-submit {
    color: #fff;
    width: 30%;
    padding: 5px;
    width: auto;
}
.map-block {
   /* padding-top: 20px;*/
    /*margin-bottom: 10px;*/
    height: 400px;
    margin:20px 0;
}
.card-list .container{
  margin-top: 0;
}
.circle{
  left: auto;
}

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
  .header h4{
    font-size: 20px;
  }
  section.card-list{
    margin-bottom: 20px;
  }
  .map-block{
    height: 260px;
  }
  .circle{
    right: 20px;
  }
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    .map-block{
      height: 350px;
      margin: 10px 0;
    }
    }
  .Modal {
    height: 100%;
    width: 100%;
  
    background-color: #ffffff;
    overflow: auto;
  }
  
  .Overlay {
    position: fixed;
  
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: rgba(0, 0, 0, 0.4);
  }
  ul.back-links li {
    float: left;
    padding-right: 10px;
}
  @media (min-width: 768px) and (max-width: 1279px) {
    .Modal {
      width: 80%;
      height: 80%;
    }
  }
  
  @media (min-width: 1280px) {
    .Modal {
      height: auto;
      width: auto;
  
      max-width: 500px;
      max-height: 80%;
    }
  }

  @media only screen and (max-width : 768px) {
    .content{
      width: auto !important;
      left: 5px;
      right: 5px;
    }
  }
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */

    .back-links li a i{
      top: 18px;
    }
    .card.login-card, .styles_modal__gNwvD{
      top: 10%;
    }
    }
    @media (max-width: 1280px) and (min-width: 1025px){
      .header h4{
        top:5px;
      }
      .login{
        top:5px;
      }
    }
    .plus {
      display: block;
      position: absolute;
      top: 25%;
      left: 25%;
      width: 50%;
      height: 50%;
      font-family: sans-serif;
      font-size: 40px;
      color: black;
      vertical-align: middle;
      text-align: center;
    }

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  .map-block{
    margin:10px 0;
  }
  }
  
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .card.login-card, .styles_modal__gNwvD{
      top: 10%;
    }
    }
    /*pixel 2*/
    @media only screen and (min-width: 731px) and (max-height: 411px) and  (orientation: landscape) {
      .card.login-card, .styles_modal__gNwvD{
        top: 10%;
      }
      .map-block{
        margin:10px 0;
      }
     }
     @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
      .content{
        width: 80vw !important;
      }
      }
      @media screen and (device-width: 411px) and (device-height: 731px) and (orientation: portrait) {
        .map-block{
          height: 350px;
        }
     }


